* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    overflow: hidden;
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.card {
    width: 450px;
    height: 700px;
    margin: auto;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, .2);
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

#text {
    display: flex;
    flex-direction: column;
    
    padding: 30px
}


/* tempararily */
.attribution {
    display: none;
    font-size: 11px; text-align: center;
    color: hsl(228, 45%, 44%)
}