* {
    /* border: 1px solid black; */
}

body {
    background: lightblue
}
main {
    display: flex;
}
.card {
    width: 450px;
    height: 700px;
    margin: auto;
    border: 1px solid black
}

#text {
    display: flex;
    flex-direction: column;
    
    padding: 30px
}


/* tempararily */
.attribution {
    display: none;
    font-size: 11px; text-align: center;
    color: hsl(228, 45%, 44%)
}